# KDE Config File  
[Desktop Entry]
Type=Application
Exec=pinentry -caption "%c" %i %m  
Icon=pinentry.png
MiniIcon=pinentry.png
DocPath=pinentry/index.html
Comment=
Comment[de]=
Terminal=0
Name=Pinentry
Name[de]=Pinentry
