/* dialog.rc - Resource definitions
   Copyright (C) 2004 g10 Code GmbH
   
   This program is free software; you can redistribute it and/or
   modify it under the terms of the GNU General Public License as
   published by the Free Software Foundation; either version 2 of the
   License, or (at your option) any later version.
 
   This program is distributed in the hope that it will be useful, but
   WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
   02111-1307, USA  */


#include <winuser.h>
#include "resource.h"

/* 
 * Main dialog 
 */

IDD_PINENT DIALOG DISCARDABLE  0, 0, 186, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pinentry W32"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Description", IDC_PINENT_DESC, 6, 6, 152, 19
    EDITTEXT        IDC_PINENT_TEXT, 71, 36, 107, 12, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 77, 76, 50, 14
    PUSHBUTTON      "&Cancel", IDCANCEL, 132, 76, 50, 14
    LTEXT           "Error", IDC_PINENT_ERR, 2, 62, 180, 9
    LTEXT           "Prompt", IDC_PINENT_PROMPT, 2, 37, 64, 12
END



